# =====================================================================================================================
# environment variables for app
# =====================================================================================================================

# =====================================================================================================================
# app
# =====================================================================================================================

# local
# ---------------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_APP_BASE_URL="http://localhost:${PORT:-3000}"
# web crawlers
NEXT_PUBLIC_APP_BOTS="disabled"

# =====================================================================================================================
# imprint
# =====================================================================================================================

NEXT_PUBLIC_APP_IMPRINT_CUSTOM_CONFIG="enabled"
NEXT_PUBLIC_APP_IMPRINT_SERVICE_BASE_URL="https://imprint.acdh.oeaw.ac.at"
NEXT_PUBLIC_APP_SERVICE_ID="22513"

# =====================================================================================================================
# api
# =====================================================================================================================

# Provide via `x-api-access-token` header to bypass api rate limits.
# API_ACCESS_TOKEN=
NEXT_PUBLIC_API_BASE_URL="https://the-knowledge-base-api.acdh-dev.oeaw.ac.at"
NEXT_PUBLIC_API_OPENAPI_PATHNAME="/docs/openapi.json"

# =====================================================================================================================
# analytics
# =====================================================================================================================

# production
# ---------------------------------------------------------------------------------------------------------------------

# NEXT_PUBLIC_APP_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_APP_MATOMO_BASE_URL="https://matomo.acdh.oeaw.ac.at"
# NEXT_PUBLIC_APP_MATOMO_ID=

# =================================================================================================
# revalidation webhook
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

REVALIDATION_WEBHOOK_SECRET=# `openssl rand --hex 32`

# =====================================================================================================================
# search
# =====================================================================================================================

NEXT_PUBLIC_TYPESENSE_COLLECTION_NAME_RESOURCES="clariah-resources"
NEXT_PUBLIC_TYPESENSE_COLLECTION_NAME_WEBSITE="clariah-website"

# local
# ---------------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_TYPESENSE_HOST="localhost"
NEXT_PUBLIC_TYPESENSE_PORT="8108"
NEXT_PUBLIC_TYPESENSE_PROTOCOL="http"
NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=# initialized in `dev:services:setup` script
TYPESENSE_ADMIN_API_KEY=# `openssl rand --hex 32`

# production
# ---------------------------------------------------------------------------------------------------------------------

# NEXT_PUBLIC_TYPESENSE_HOST="typesense.acdh.oeaw.ac.at"
# NEXT_PUBLIC_TYPESENSE_PORT="443"
# NEXT_PUBLIC_TYPESENSE_PROTOCOL="https"
# NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
# TYPESENSE_ADMIN_API_KEY=
